<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>



</head>
<body>
    

    <button>click me</button>


    <div id="song"></div>
    <div id="song2"></div>
    <ul id="song_coll"></ul>
    <div id="template_string"></div>

    <script id="template" type="text/html">
    <%= title %>
    <%= plays %>
    <% if (plays > 15) { %>
        <span>plays greater than 15</span>
    <% } else { %>
        <span>plays less than 15</span>
    <% } %>

    </script>



    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
    <script src="./js/basic.js"></script>
    <script src="./js/inherite.js"></script>
    <script src="./js/collection.js"></script>
    <script src="./js/views.js"></script>
    <script src="./js/viewModel.js"></script>
    <script src="./js/templates.js"></script>
</body>
</html>